<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hausuebungen/src/oo/ego8769/hue08/bsp3/Zip/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oo.ego8769.hue08.bsp3.Zip.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-f zip -p txt ziparchive"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hausuebungen"/>
</launchConfiguration>
